@model LineChartModel 
@{
    List<string> _categories = Model.Categories;
}
<div id="chart"></div>

@section scripts {
    <script>
        var _series = [{
            name: @Html.Raw(JsonConvert.SerializeObject(Model.Name)),
            data: @Html.Raw(JsonConvert.SerializeObject(Model.Data))
            }];

        let _categories = @(Html.Raw(JsonConvert.SerializeObject(_categories)));
        let titleText = "Average High & Low Temperature";
        let xaxisTitleText = "Month";
        let yaxisTitleText = "Temperature";

        var options = {
            series: _series,
            chart: {
                height: 350,
                type: 'line',
                dropShadow: {
                    enabled: true,
                    color: '#000',
                    top: 18,
                    left: 7,
                    blur: 10,
                    opacity: 0.2
                },
                toolbar: {
                    show: false
                }
            },
            colors: ['#77B6EA', '#545454'],
            dataLabels: {
                enabled: true,
            },
            stroke: {
                curve: 'smooth'
            },
            title: {
                text: titleText,
                align: 'left'
            },
            grid: {
                borderColor: '#e7e7e7',
                row: {
                    colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                },
            },
            markers: {
                size: 1
            },
            xaxis: {
                categories: _categories,
                title: {
                    text: xaxisTitleText
                }
            },
            yaxis: {
                title: {
                    text: yaxisTitleText
                },
                min: 5,
                max: 40
            },
            legend: {
                position: 'top',
                horizontalAlign: 'right',
                floating: true,
                offsetY: -25,
                offsetX: -5
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
}