<div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0 auto;"></div>

@model RangeAreaChartModel

@section scripts {
	<script>
		var _datapoints = @Html.Raw(JsonConvert.SerializeObject(Model.DataPoints));
		console.log("Serialized DataPoints:", _datapoints);
		window.onload = function () {

		var chart = new CanvasJS.Chart("chartContainer", {
			animationEnabled: true,
			exportEnabled: true,
			title: {
				text: "Temperature in Toronto - July 2017"
			},
			axisY: {
				title: "Temperature (°C)",
				suffix: " °C"
			},
			axisX: {
				valueFormatString: "DD MMMM"
			},
			data: [
				{
					type: "rangeArea",
					xValueFormatString: "DD MMMM",
					yValueFormatString: "#0.## °C",
					toolTipContent: " <span style=\"color:#4F81BC\">{x}</span><br><b>Min:</b> {y[0]}<br><b>Max:</b> {y[1]}",
					dataPoints: _datapoints.map(function (point) {
						return { x: new Date(point.X), y: [point.YMin, point.YMax] };
					})
				}]
		     
		});
		chart.render();
        }
	</script>
}
    


   

