@model RangeSplineAreaChartModel
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
@section scripts{
    <script>
        let _datapoints = @(Html.Raw(JsonConvert.SerializeObject(Model.DataPoints))) ;

        console.log("Serialized DataPoints:", _datapoints);
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Monthly Average Temperature Variation in New Delhi"
                },
                axisX: {
                    valueFormatString: "MMMM"
                },
                axisY: {
                    title: "Temperature (°C)",
                    suffix: " °C"
                },
                data: [{
                    type: "rangeSplineArea",
                    indexLabel: "{y[#index]}°",
                    xValueFormatString: "MMMM YYYY",
                    toolTipContent: "{x} </br> <strong>Temperature: </strong> </br> Min: {y[0]} °C, Max: {y[1]} °C",
                    dataPoints: _datapoints.map(function (point) {
                        return { x: new Date(point.X), y: [point.YMin, point.YMax] };
                    })
                }]
            });
            chart.render();

        }
    </script>
}
