<form method="post" action="/Team/Save">
    <div class="mb-3">
        <label class="form-label">Team Name</label>
        <input type="text" class="form-control" name="TeamName">
    </div>
    <div class="mb-3">
        <label class="form-label">Score</label>
        <input type="text" class="form-control" name="Score">
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>