<div id="chart-container">
    <div id="chart"></div>
</div>

@section scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>
        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/teamHub").build();

        connection.on("ReceiveTeamClientEvent", function (result) {
            console.log(result);
            let data = JSON.parse(result);

            console.log({ data });

            bindChart(data.Labels, data.Series)
        });

        connection.start().then(function () {
        }).catch(function (err) {
            return console.error(err);
        });

        function bindChart(_labels, _series) {
            $('#chart-container').html(`<div id="chart"></div>`);
            var options = {
                series: _series,
                chart: {
                    width: 380,
                    type: "pie",
                },
                labels: _labels,
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 200
                        },
                        legend: {
                            position: "bottom"
                        }
                    }
                }]
            };

            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();
        }
    </script>
}