<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotNetTrainingBatch2.ChatAppUsingSignalR.MvcApp</title>
    @await Html.PartialAsync("_Style")
</head>
<body>
    <header>
        @await Html.PartialAsync("_Nav")
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - DotNetTrainingBatch2.ChatAppUsingSignalR.MvcApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @await Html.PartialAsync("_Scripts")
</body>
</html>
