<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DotNetTrainingBatch2.ChatAppUsingSignalR.MvcApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Apex Chart
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/ApexChart/PieChart">Pie Chart</a></li>
                        <li><a class="dropdown-item" href="/ApexChart/BarChart">Bar Chart</a></li>
                        <li><a class="dropdown-item" href="/ApexChart/LineChart">Line Chart</a></li>
                        <li><a class="dropdown-item" href="/ApexChart/MixedChart">MixedChart</a></li>
                        <li><a class="dropdown-item" href="/ApexChart/BubbleChart">BubbleChart</a></li>
                        <li><a class="dropdown-item" href="/ApexChart/PyramidChart">Pyramid Chart</a></li>
                        <li><a class="dropdown-item" href="/ApexChart/PolarAreaChart">PolarArea Chart</a></li>
                        <li><a class="dropdown-item" href="/ApexChart/RadarChart">Radar Chart</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Chart Js
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/ChartJs/HorizontalBarChart">Horizontal Bar Chart</a></li>
                        <li><a class="dropdown-item" href="/ChartJs/HoriBarChart">HoriBar Chart</a></li>
                        <li><a class="dropdown-item" href="/ChartJs/PolarAreaChart">Polar Area Chart</a></li>
                        <li><a class="dropdown-item" href="/ChartJs/ScatterChart">Scatter Chart</a></li>
                        <li><a class="dropdown-item" href="/ChartJs/MixedChart">Mixed Chart</a></li>
                        <li><a class="dropdown-item" href="/ChartJs/RadarChart">Radar Chart</a></li>
                        <li><a class="dropdown-item" href="/ChartJs/LineChart">Line Chart</a></li>
                        <li><a class="dropdown-item" href="/ChartJs/Doughnut">Doughnutt</a></li>
                        <li><a class="dropdown-item" href="/ChartJs/BubbleChart">BubbleChart</a></li>
                        <li><a class="dropdown-item" href="/ChartJs/JSBubbleChart">Bubble Chart</a></li>
                        <li><a class="dropdown-item" href="/ChartJs/BarChartJS">Bar Chart</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hight Charts
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/HighCharts/WithDataLabelsChart">With Data Labels Chart</a></li>
                        <li><a class="dropdown-item" href="/HighCharts/RadialBarChart">Radial Bar Chart</a></li>
                        <li><a class="dropdown-item" href="/HighCharts/BasicBarChart">Basic Bar Chart</a></li>
                        <li><a class="dropdown-item" href="/HighCharts/PercentageAreaChart">Percentage Area Chart</a></li>
                        <li><a class="dropdown-item" href="/HighCharts/AudioBoxplotChart">AudioBoxplot Chart</a></li>
                        <li><a class="dropdown-item" href="/HighCharts/BulletGraphChart">BulletGraph Chart</a></li>
                        <li><a class="dropdown-item" href="/HighCharts/BasicAreaChart">BasicAreaChart</a></li>
                        <li><a class="dropdown-item" href="/HighCharts/StackedGroupColumn">StackedGroupColumn</a></li>
                        <li><a class="dropdown-item" href="/HighCharts/SplineWithInvertedAxesChart">Spline With Inverted Axes Chart</a></li>
                        <li><a class="dropdown-item" href="/HighCharts/LogarithmicAxisChart">Logarithmic axis Chart</a></li>
                        <li><a class="dropdown-item" href="/HighCharts/SemiCircleChart">Semi Circle Chart</a></li>
                        <li><a class="dropdown-item" href="/HighCharts/TimeSeriesChart">Time Series Chart</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CanvasJs
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/CanvasJs/BarChart">Bar Chart</a></li>
                        <li><a class="dropdown-item" href="/CanvasJs/SplineChart">Spline Chart</a></li>
                        <li><a class="dropdown-item" href="/CanvasJs/StepAreaChart">Step Area Chart</a></li>
                        <li><a class="dropdown-item" href="/CanvasJs/ColumnChart">Column Chart</a></li>
                        <li><a class="dropdown-item" href="/CanvasJs/FinalcialChart">Finalcial Chart</a></li>
                        <li><a class="dropdown-item" href="/CanvasJs/AreaChart">AreaChart</a></li>
                        <li><a class="dropdown-item" href="/CanvasJs/StackedBarChart">StackedBarChart</a></li>
                        <li><a class="dropdown-item" href="/CanvasJs/RangeAreaChart">Range Area Chart</a></li>
                        <li><a class="dropdown-item" href="/CanvasJs/RangeArea">Range Area</a></li>
                        <li><a class="dropdown-item" href="/CanvasJs/PyramidChart">Pyramid Chart</a></li>
                        <li><a class="dropdown-item" href="/CanvasJs/RangeSplineAreaChart">Range Spline Area Chart</a></li>


                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>