@model BlogDataModel

<div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" class="form-control" value="@Model.Blog_Title" id="Blog_Title">
</div>
<div class="mb-3">
    <label class="form-label">Author</label>
    <input type="text" class="form-control" value="@Model.Blog_Author" id="Blog_Author">
</div>
<div class="mb-3">
    <label class="form-label">Content</label>
    <input type="text" class="form-control" value="@Model.Blog_Content" id="Blog_Content">
</div>
<a href="/Blog" class="btn btn-dark">Cancel</a>
<button type="button" id="btnUpdate" class="btn btn-success">Update</button>
@section scripts {
    <script>
        $('#btnUpdate').click(function (e) {
            let title = $('#Blog_Title').val();
            let author = $('#Blog_Author').val();
            let content = $('#Blog_Content').val();

            let _requestModel = {
                Blog_Title: title,
                Blog_Author: author,
                Blog_Content: content
            };

            console.log({ _requestModel });

            $.ajax({
                type: "POST",
                 url: '/BlogAjax/Update/@Model.Blog_Id',
                data: { requestModel: _requestModel },
                dataType: "json",
                success: function (data) {
                    console.log({ data });
                    alert(data.message);
                    location.href = "/BlogAjax";
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    console.log("Message: " + r.Message);
                    console.log("StackTrace: " + r.StackTrace);
                    console.log("ExceptionType: " + r.ExceptionType);
                }
            });
        })
    </script>
}