@model SplineWithInvertedAxesChartModel

<div id="container"></div>

@section scripts {
    <script>
        var _titleText = @Html.Raw(Json.Serialize(Model.Title));
        var _subtitleText = @Html.Raw(Json.Serialize(Model.Subtitle));
        var _seriesData = @Html.Raw(Json.Serialize(Model.Series));

        Highcharts.chart('container', {
            chart: {
                type: 'spline',
                inverted: true
            },
            title: {
                text: _titleText,
                align: 'left'
            },
            subtitle: {
                text: _subtitleText,
                align: 'left'
            },
            xAxis: {
                reversed: false,
                title: {
                    enabled: true,
                    text: 'Altitude'
                },
                labels: {
                    format: '{value} km'
                },
                accessibility: {
                    rangeDescription: 'Range: 0 to 80 km.'
                },
                maxPadding: 0.05,
                showLastLabel: true
            },
            yAxis: {
                title: {
                    text: 'Temperature'
                },
                labels: {
                    format: '{value}°'
                },
                accessibility: {
                    rangeDescription: 'Range: -90°C to 20°C.'
                },
                lineWidth: 2
            },
            legend: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br/>',
                pointFormat: '{point.x} km: {point.y}°C'
            },
            plotOptions: {
                spline: {
                    marker: {
                        enable: false
                    }
                }
            },
            series: _seriesData
        });
    </script>
}
